.popup-configure-container{
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    .popup-configure{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid;
        padding: 10px;
        background-color: #fff;
        tr{
            text-align: right;
        }
        td{
            padding: 5px;
        }
        select, 
        textarea,
        input[type='email'],
        input[type='text']{
            border: 1px solid;
            width: 100%;
            box-sizing: border-box;
        }
        input[type='email']{
            margin: 10px 0;
        }
        .close-icon{
            text-align: right;
            font-size: 24px;
            margin: 0 5px;
            cursor: pointer;
        }
        .error{
            display: block;
            color: red;
            font-size: 12px;
        }
    }
}